{{#paper-item class="md-3-line"}}

  <div class="md-list-item-text">
    <h2>{{item.title}}</h2>
    <h4>
      <div>Applicants:
      {{#each item.typeofapplicant as |applicant|}}
        {{applicant}}
      {{/each}}
    </div>
    </h4>
    <p>Deadline: {{item.subm_deadline}}</p>
  </div>
  {{paper-divider}}

{{/paper-item}}
