<article class = "listing">
  <img src = "{{award.image}}">
  <h3>{{award.name}}</h3>
  <div class = "detail-owner">
    <span>Description:</span> {{award.description}}
  </div>
  <div class = "detail-owner">
  <div class = "right">
    {{#link-to 'EditAward' class="button"}}
      Edit Award
    {{/link-to}}
  </div>
</div>
</article>
