<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Awards</h2>
  <p>
    The Awards website will enable the user to view his own awards and should have the ability to add and remove awards
  </p>
</div>
