<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class = "container">
  <div class = "row">
<form class="form-horizontal" role = "form">
  <div class = "form-group">
  <label for = "AwardTitle" class = "col-lg-2">Title</label>
  <div class = "col-lg-8">
  <input type="text" class = "form-control" value = content.award.title  placeholder="Enter Title" id = "awardTitle">
</div>
    <div class = "col-lg-2" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Source
    </button>
    <div class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Federal</a></li>
      <li><a class="dropdown-item" href="#">Local</a></li>
      <li><a class="dropdown-item" href="#">State</a></li>
      <li><a class="dropdown-item" href="#">Private</a></li>
      <li><a class="dropdown-item" href="#">Internal</a></li>
      <li><a class="dropdown-item" href="#">Others</a></li>
    </div>
</div>



  <!-- <label for = "AwardSource" class = "col-lg-2">Source</label>
  <div class = "col-lg-10">
  <input type="text" class = "form-control" placeholder="Enter Source" id = "awardSource">
</div> -->
  </div>
  <div class="form-group">
    <label for = "AwardDescription" class = "col-sm-2">Description</label>
    <div class = "col-sm-10">
    <textarea type = "text" class="form-control" placeholder="Enter Description" rows = "10" cols = "50" id = "awardDescription"></textarea>
  </div>
  </div>
  <div class="form-group">
    <label for = "AwardLink" class = "col-sm-2">AwardLink</label>
    <div class = "col-sm-10">
    <textarea type = "text" class="form-control" placeholder="Enter Link"  id = "awardLink"></textarea>
  </div>
  </div>
  <div class = "form-group">
    <label for = "STEMType" class = "col-sm-2">STEM Field</label>
    <div class = "col-sm-10">
      <input type = "text" class="form-control" placeholder="Enter Filed" id = "stemField">
    </div>
  </div>
  <div class = "form-group">
  <button {{action "addsubmitButton"}} type="submit" class="btn btn-default">Submit</button>
</div>
</form>
</div>
</div>
