{{#paper-toolbar tall=true accent=false}}
   {{#paper-toolbar-tools}}
     <h1><b>WISTEM</b></h1>
   {{/paper-toolbar-tools}}
   <div class="md-toolbar-tools">
     {{#paper-button onClick=(action (transition-to "home"))}}{{paper-icon 'home'}}Home{{/paper-button}}
     {{#paper-button onClick=(action (transition-to "awardinfo"))}}Award Information{{/paper-button}}
    <div class="paper-right">
         {{#paper-button onClick=(action (transition-to "login"))}}Login{{/paper-button}}
         {{#paper-button onClick=(action (transition-to "register"))}}Register{{/paper-button}}
     </div>
   </div>
 {{/paper-toolbar}}

<div class="container">
   {{outlet}}
</div>
