
<h3>Please log in</h3>

<div class='field'>
  <label> User Name </label>
  {{input value=username}}
</div>

<div class='field'>
  <label> Password </label>
  {{input value=password type="password"}}
</div>

<div class="{{if hidden "hidden"}}" style="color:blue;"  >
    {{#paper-button onClick=(action login()}}login{{/paper-button}}
</div>

<div class="{{if (not hidden) "hidden"}}" >
  Wrong user name and / or password
  <br>
</div>
