<!--
@Author: Matthew Hale <matthale>
@Date:   2018-03-01T16:19:15-06:00
@Email:  mlhale@unomaha.edu
@Filename: login.hbs
@Last modified by:   matthale
@Last modified time: 2018-03-01T17:22:41-06:00
@Copyright: Copyright (C) 2018 Matthew L. Hale
-->


{{paper-input class="flex-30" label="Name" value=auth.username onChange=(action (mut auth.username))}}
{{paper-input class="flex-40" label="Password" type="password" value=auth.password onChange=(action (mut auth.password))}}
{{#paper-button raised=true onClick=(action "login")}}login{{/paper-button}}



<div align="center">
Don't have an account?
{{#link-to 'register' class="button"}}
Sign up!
{{/link-to}}
</div>
