
<h3>Please log in</h3>

<div class='field'>
  <label> User Name </label>
  {{input value=username}}
</div>

<div class='field'>
  <label> Password </label>
  {{input value=password type="password"}}
</div>

<div class="{{if hidden "hidden"}}" style="color:blue;"  >
    {{#paper-button onClick=(action "toggleHidden")}}Advance Filters....{{/paper-button}}
</div>

<div class="{{if (not hidden) "hidden"}}" style="color:blue;"  >
  Other options are going here
  <br>
</div>
